.portlet.box > .chart-back {
	background-color: #f4f4f4;
}

.portlet.box .map-back {
	padding: 0;
	background-color: #f4f4f4;
}

.table-scrollable > .table {
	background-color: #f4f4f4;
}

.manager {
	color: #000000;
	font-weight: 600;
}

.table > thead > tr.right > th, 
.table > tbody > tr.right > td {
	text-align: right;
}

.table > thead > tr.right > th.left,
.table > tbody > tr.right > td.left {
	text-align: left;
}

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {}
